<div class="container">
  <div class="text-center">
    <h1><%= image_tag("crypto.png", class: "header_img") %>
    CryptoTonic</h1>
    <%= "CryptoTonic has been acquired by " %>
    <%= link_to 'Mosaic', "http://mosaic.io/", :class=>"header-link"%>
  </div>
</div>
